@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 Ensures all text uses Inter by default */
body {
  @apply font-sans;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
